version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: postgres_auth_service
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: root
      POSTGRES_DB: GOAUTH
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: