services:
  postgres:
    image: postgres:latest
    container_name: postgres_auth_service
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: root
      POSTGRES_DB: GOAUTH
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: go_auth_app
    restart: on-failure
    depends_on:
      - postgres
    ports:
      - "3000:3000"

volumes:
  postgres_data:
